@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Try Again Later!</title>
</head>
<body>
    <h3>Too many invalid login attempts</h3>
</body>
</html>